.columnItem {
  font-size: $font-medium;
  background-color: $color-primary;
  padding: 1rem 2rem;
  border-radius: $radius-small;
  display: flex;
  align-items: center;
  min-width: 300px;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.25);
}

.taskList {
  list-style: none;
  display: flex;
  flex-direction: column;
  background: #181a2aa6;
  border-radius: 8px;
  padding: 0 20px;
  max-height: 600px;
  overflow: auto;
}

.headline {
  text-transform: uppercase;
  font-size: 13px;
  margin-right: auto;
}
