.columnsContainer {
  display: flex;
  align-items: flex-start;
  height: 100%;

  button {
    margin-left: 2rem;
    min-width: max-content;
  }
}

.columnsList {
  display: flex;
  display: flex;
  width: 100%;
  padding: 30px 20px;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  & li:not(:first-child) {
    margin-left: $margin-medium;
    list-style: none;
  }
}

.empty_columns {
  display: flex;
  align-items: center;
  padding: 30px 35px;

  p {
    font-size: $font-text;
    margin-right: $margin-small;
  }
}
