.columnItem {
  font-size: $font-medium;
  background-color: $color-primary--dark;
  padding: 1rem 2rem;
  border-top-left-radius: $radius-small;
  border-top-right-radius: $radius-small;
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  min-width: 300px;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.25);
}

.taskList {
  list-style: none;
  display: flex;
  flex-direction: column;
  // background: #181a2aa6;
  background: $color-primary--dark;
  border-bottom-left-radius: $radius-small;
  border-bottom-right-radius: $radius-small;
  padding: 0 20px;
  max-height: 600px;
  overflow: auto;
}

.headline {
  text-transform: uppercase;
  font-size: 13px;
  margin-right: auto;
}
