.container {
  font-size: 24px;

  padding: 20px 0;
  margin: 10px 0;
}

.workspaceTitle {
  font-size: $font-medium;
}

.workspaceManage {
  display: flex;
  width: 100%;
  background-color: $color-primary;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  border-radius: $radius-small;
}

.workspaceProjectList {
  margin-left: 16px;
}
