.container {
  font-size: 24px;

  padding: 20px 0;
  margin: 10px 0;
}

.workspaceTitle {
  font-size: $font-medium;
}

.workspaceManage {
  display: flex;
  width: 100%;
  background-color: $color-primary;
  padding: 2rem;
  justify-content: space-between;
  border-radius: $radius-small;
}
