.container {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  min-width: 300px;
}

.title {
  font-size: $font-medium;
}

.sub_title {
  font-size: $font-small;
  margin-top: $margin-small;
}

.add_title {
  font-size: $font-small-text;
  margin: $margin-small 0 0 $margin-small;
}
