.hero_container {
  height: 100%;

  .hero_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 65vh;

    .spline_container {
      width: 75%;
      position: relative;
      z-index: 100;
    }

    .text_container {
      width: 60%;
      position: relative;
    }

    @include respond(tablet) {
      min-height: 80vh;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }

    h2 {
      font-family: $font-headings;
      font-size: $font-xxl;
      padding: 0 8px;
      z-index: 10;

      @include respond(tablet) {
        font-size: $font-hero;
      }
    }

    p {
      padding: 0 8px;
      margin-top: $margin-medium;
      font-size: $font-big;
      font-family: $font-headings;
      letter-spacing: 0.2rem;
    }

    h2,
    .image_container {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
    }

    .image_container {
      z-index: 20;
      width: 80%;
      margin: 0 auto;
      margin-top: 2rem;

      @include respond(tablet) {
        width: 30vw;
      }
    }
  }

  .flares {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    transition: transform 0.1s ease;
  }

  .flareContainer {
    overflow: hidden;
    position: absolute;
    border-radius: 100%;
    filter: blur(20px);
  }

  .redFlare {
    width: 50vw;
    height: 50vw;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(243, 81, 81, 0.55) 0%,
      rgba(243, 81, 81, 0) 72.4%
    );
    left: 0;
    transform: translateX(-50%);
    transform: translateY(-50%);
    top: 0;
    animation-name: redFlareAnimation;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    z-index: 1;
    transition: background-color 0.6s;
  }

  .yellowFlare {
    width: 50vw;
    height: 50vw;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(233, 187, 133, 0.8) 0%,
      rgba(233, 187, 133, 0) 87.5%
    );
    transform: translateX(-50%);
    transform: translateY(-50%);
    animation-name: yellowFlareAnimation;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    z-index: 2;
  }

  .purpleFlare {
    width: 50vw;
    height: 50vw;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(152, 90, 162, 0.85) 0%,
      rgba(152, 90, 162, 0) 77.6%
    );
    transform: translateX(-50%);
    transform: translateY(-50%);
    animation-name: purpleFlareAnimation;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    z-index: 0;
  }
}

@keyframes yellowFlareAnimation {
  0% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  25% {
    transform: scale(0.7), translate(-50%, -50%);
    opacity: 0.8;
    top: 35%;
    left: 55%;
  }
  50% {
    transform: scale(1.1), translate(-50%, -50%);
    opacity: 0.6;
    top: 35%;
    left: 60%;
  }
  80% {
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    left: 50%;
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes redFlareAnimation {
  0% {
    left: 50%;
    top: 45%;
    @include respond(tablet) {
      top: 25%;
    }
    transform: translate(-50%, -50%);
  }
  25% {
    left: 65%;
    top: 40%;
    transform: translate(-50%, -50%);
  }
  50% {
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }
  80% {
    left: 50%;
    top: 45%;
    @include respond(tablet) {
      top: 10%;
    }
    transform: translate(-50%, -50%);
  }
  100% {
    left: 50%;
    top: 45%;
    @include respond(tablet) {
      top: 25%;
    }
    transform: translate(-50%, -50%);
  }
}

@keyframes purpleFlareAnimation {
  0% {
    left: 65%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  25% {
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
  }
  50% {
    right: 25%;
    top: 45%;
    transform: translate(-50%, -50%);
  }
  80% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    left: 65%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
