.navigationItem {
  margin-top: 4rem;
  padding: 0rem 2rem;
  border: 2px solid transparent;
  height: 30px;
  display: flex;
  justify-content: center;
  width: 100%;

  button {
    width: 100%;
    background-color: transparent;
    border: none;
  }
}

.activeNavItem {
  border-right: 2px solid $color-menu--highlight;
}
