.mainInput {
  border: none;
  border-radius: $radius-big;
  padding: $padding-vsmall 0;
  padding-left: $padding-small;
  background-color: $color-light;
  border: 1px solid $color-primary;
  color: $color-primary;
}
