.search {
  position: relative;
  margin: 0px 20px 30px;
}
.searchInput {
  background-color: $color-primary;
  border: none;
  padding: 14px $padding-medium;
  border-radius: 15px;
  width: 100%;
  padding-left: 40px;

  &::placeholder {
    color: white;
  }
}

.searchIcon {
  position: absolute;
  color: $color-primary;
  margin-right: 1rem;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
