.container {
  display: flex;
  align-items: center;

  button {
    margin-left: 2rem;
  }
  .inviteButton {
    padding: 8px 10px;
    min-width: 140px;
    font-size: 20px;
    font-weight: bold;
  }

  .usersList {
    display: flex;
    align-items: center;

    .hiddenUsersList {
      font-size: $font-small;
      margin-left: 1.2rem;
      background: transparent;
      border: none;

      &:hover {
        color: $color-accent--text;
      }
    }
  }
}
