*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: fit-content;
  overflow-x: hidden;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.flareRight {
  width: 65vw;
  height: 100vh;
  right: 0;
  bottom: 10%;
  transform: translate(25%, 50%);
}

.flareBottom {
  width: 25vw;
  height: 40vh;
  left: 0;
  bottom: 0;
  transform: translateY(50%);
}

.flareTop {
  width: 25vw;
  height: 40vh;
  left: 65%;
  top: 0;
  transform: translate(-50%, -50%);
}

div#__next {
  height: 100vh;
}

main {
  height: 100%;
  position: relative;
  z-index: 1;
}

button {
  cursor: pointer;
}
