@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Cantarell', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Cantarell', sans-serif;
}

body {
  height: fit-content;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: 'Cantarell', sans-serif;

  ::-moz-selection {
    /* Code for Firefox */
    color: $color-light;
    background: #212844;
  }

  ::selection {
    color: $color-light;
    background: $color-primary--light;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: $color-light;
    background: $color-primary;
  }
}

.flareRight {
  width: 65vw;
  height: 100vh;
  right: 0;
  bottom: 10%;
  transform: translate(25%, 50%);
}

.flareBottom {
  width: 25vw;
  height: 40vh;
  left: 0;
  bottom: 0;
  transform: translateY(50%);
}

.flareTop {
  width: 25vw;
  height: 40vh;
  left: 65%;
  top: 0;
  transform: translate(-50%, -50%);
}

div#__next {
  height: 100vh;
}

main {
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

svg,
button {
  transition: 0.3s;
}

button {
  cursor: pointer;

  &:hover {
    color: #f25287;

    svg {
      color: #f25287 !important;
    }
  }
}

li::marker {
  content: '';
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  background: #1a1c2d;
}

::-webkit-scrollbar-thumb {
  background-color: #8e8ca0;
  outline: 1px solid #1a1c2d;
  border-radius: 50px;
}

::-webkit-scrollbar-button {
  // width: 10px;
  text-align: left;
}

.main_page_layout {
  max-width: 95%;
  width: 100%;
  margin: 0 auto;
}

.signUpContainer {
  margin-top: $margin-big;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: white;
    margin: 0;
    margin-right: 14px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
    bottom: 15px;
    margin-top: 24px;
    border-radius: 50%;
    display: inline-block;
  }

  .swiper-pagination-bullet-active {
    background-color: $color-highlight !important;
  }
}
