.container {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
  padding-top: 10px;
  margin: 40px 30px;
  margin-top: 50px;
  margin-left: 20px;
  // background: rgb(0 0 0 / 6%);
  // //border-radius: 25px;
  // border: 1px solid #00000012;
  // border-left: 1px solid rgba(66, 72, 96, 0.4509803922);
  border-right: 1px solid rgba(66, 72, 96, 0.4509803922);
}
