.removeButton {
  background: $color-error;
}
.button {
  width: 30%;
  padding: $padding-vsmall;
  &:hover {
    filter: saturate(1.2);
    color: $color-light;
  }
}
.editModal {
  height: 80vh;
  width: 40%;
  min-height: fit-content;
  @include flexLayout(flexStart);
  flex-direction: column;
  border-radius: $radius-small;
  background-color: $color-popup;
}
.editForm {
  width: 100%;
  height: 100%;
}
.nameInput {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  border-radius: $radius-small;
  &:hover,
  &:active,
  &:focus,
  &:focus-within {
    outline: 1px solid $color-accent;
  }
}
.messageInput {
  height: 70%;
  width: 100%;
  border-radius: $radius-small;
  resize: none;
  border: none;
  color: $color-text-dark;
  padding: $margin-small $margin-medium;
  background: transparent;
  outline: 1px solid $color-accent;
  &:focus,
  &:focus-within {
    outline: 1px solid $color-accent;
  }
}
.nameLabel {
  display: none;
}
