.taskItem {
  width: $button-width;
  @include flexLayout(flexBetween);
  align-items: flex-start;
  background: $color-task;
  border-radius: $radius-small;
  margin-top: $margin-medium-px;
  margin-right: 0;
  margin-left: 0;
  padding: $padding-medium-px;
  font-size: $font-small-text;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  max-height: 200px;
  overflow: hidden;
}
.noDescription {
  .taskName {
    font-size: $font-small-text;
  }
}
.taskName {
  font-size: $font-small;
}

.content {
  width: 70%;
  max-height: 11rem;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.editButton {
  @include flexLayout(flexEvenly);
  flex-direction: column;
  color: $color-light;
  background-color: transparent;
  border: none;
  height: 2rem;
  span {
    height: 0.4rem;
    width: 0.4rem;
    background-color: $color-light;
    border-radius: 50%;
    display: inline-block;
  }
}
