.taskItem {
  width: $button-width;
  display: block;
  background: $color-task;
  border-radius: $radius-small;
  margin: $margin-medium-px 0 $margin-medium-px;
  padding: $padding-medium-px;
  font-size: $font-small-text;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}
