.taskItem {
  width: $button-width;
  display: block;
  background: $color-task;
  border-radius: $radius-small;
  margin: $radius-medium 0 $radius-medium;
  padding: $radius-medium;
  font-size: $font-small-text;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}
