.primaryButton {
  border: none;
  background-color: $color-primary;
  color: $color-primary--light;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $margin-small $margin-medium;
  border-radius: 25px;
}
