.navContainer {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-primary;
  padding: 4rem 1rem;
  border-radius: 25px;
}
