:root {
  --color-primary: #161a2d;
  --color-primary--dark: #ebebeb;
  --color-highlight: #f25287;
  --color-dark: #1a1a2e;
  --color-accent: #bebec6;
  --color-accent--text: #b5b5b5;
  --color-shadow: #dcdcdc;
  --text-light: #989898;
  --color-error: #d43232;
  --color-alert: #c9af5e;
  --color-placeholder: #a3a3a3;
}
