:root {
  --color-primary: #f9f3f3;
  --color-primary--dark: #ebebeb;
  --color-highlight: #f25287;
  --color-dark: #1a1a2e;
  --color-accent: #bebec6;
  --color-accent--text: #b5b5b5;
  --color-shadow: #dcdcdc;
  --text-light: #989898;
  --color-error: #d43232;
  --color-alert: #c9af5e;
  --color-placeholder: #a3a3a3;
}

$color-primary: var(--color-primary);
$color-primary--dark: var(--color-primary--dark);
$color-highlight: var(--color-highlight);
$color-highlight-light: #ffab9d;
$color-dark: var(--color-dark);
$color-accent: var(--color-accent);
$color-accent--text: var(--color-accent--text);
$color-shadow: var(--color-shadow);
$color-text-light: var(--text-light);
$color-error: var(--color-error);
$color-alert: var(--color-alert);
$color-placeholder: var(--color-placeholder);

$font-headings: 'Anton', sans-serif;
$font-text: 'Roboto', sans-serif;

$font-big: 2.8rem;
$font-medium: 2.2rem;
$font-small: 1.8rem;
