:root {
  --color-primary: #222944;
  // --color-primary: #161a2d;
  --color-primary-bg: #0d1021c2;
  --color-primary--dark: #161a2d;
  --color-primary--light: #2b3456;
  --color-light-red: #c94343;
  --color-menu--highlight: rgba(201, 67, 67, 0.7);
  --color-highlight: #f25287;
  --color-dark: #1a1a2e;
  --color-accent: #bebec6;
  --color-accent--text: #b5b5b5;
  --color-shadow: #dcdcdc;
  --text-light: #989898;
  --color-error: #d43232;
  --color-alert: #c9af5e;
  --color-placeholder: #a3a3a3;
  --color-light: #ebebeb;
  --color-success: #139133;
  --color-task: #43445b;
  --color-over: rgba(0, 0, 0, 0.4);
  --color-light-grey: #bcc0c4;
}
