.scroll {
  width: 22px;
  height: 42px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  border: 2px solid $color-light;
  display: block;
  overflow: hidden;

  .scrollBall {
    position: absolute;
    top: 0;
    margin-top: 0.4rem;
    border-radius: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background: $color-light;
    width: 10px;
    height: 12px;
  }
}
